@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-stone-100;
}

input {
  background: none;
  outline: none;
  display: block;
  @apply text-stone-200 h-10 px-2;
}

input::placeholder {
  @apply text-stone-400;
}

select {
  display: block;
  background: none;
  outline: none;
  @apply w-40 h-10 text-stone-200 px-2;
}

button:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.btn {
  @apply font-bold h-10 px-4 rounded transition-all;
  line-height: 40px;
}
.btn-blue {
  @apply bg-slate-800 text-white;
}
.btn-blue:hover {
  @apply bg-slate-700;
}
.btn-blue:disabled:hover {
  @apply bg-slate-800;
}

.btn-black {
  @apply bg-black/90 text-white;
}
.btn-black:hover {
  @apply bg-black/60;
}
.btn-black:disabled:hover {
  @apply bg-black/90;
}

.text-btn {
  @apply text-stone-400 hover:text-stone-200 transition-all;
}

.card {
  @apply border border-gray-700 rounded-xl shadow-md shadow-gray-800 p-6 transition-all;
}
.card-btn {
  @apply relative bottom-0;
}
.card-btn:hover {
  @apply shadow-lg shadow-gray-800 bottom-1 relative;
}

.modal-container {
  @apply fixed top-0 left-0 right-0 z-50 w-full h-full overflow-hidden flex justify-center items-center backdrop-blur-sm;
}
